#footer-mainsection{    
    background: url('../../images/Footer.jpg') no-repeat center center fixed;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: .9;
}


#footer-subsection1{
    text-align: justify;
}
#footer-subsection1image{
    width: 100%;
}
