.menu-parent {
    background: #161414;
    color: #ffffff;
    text-align: left;
  }

  .menu-parent * {
    margin: 0;
    padding: 0;
  }

  .menu-parent li {
    list-style: none;
  }

  .menu-parent li.active>ul {
    display: block;
  }

  .menu-parent>ul>li>a {
    position: relative;
    display: block;
    background: #161414;
    background: linear-gradient(#161414, #1e1e1f);
    padding: 0 30px;
    font-size: 16px;
    line-height: 4;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
  }

  .menu-parent>ul>li>a .fa {
    margin-right: 8px;
  }

  .menu-parent ul ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 4;
    display: block;
    padding: 0 30px;
    position: relative;
  }

  .menu-parent ul ul li a:hover {
    background: rgb(138, 156, 250);
  }


  .menu-parent a:not(:only-child):after {
    position: absolute;
    right: 20px;
    content: "\f067";
    top: -6px;
    font-size: 20px;
    font-family: FontAwesome;
  }

  .menu-parent .active>a:not(:only-child):after {
    content: "\f068";
    top: -6px;
    font-size: 20px;
    font-family: FontAwesome;
  }

  /*---------------------*/
  .myDashboardCard {
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  }

  .dashboard-links:hover {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
  }